version: '3.8'           # The version of the Docker Compose engine we are using.
services:                # A list of the "apps" we want to run (we only have one).
  weather-app:           # The name of our specific service.
    build: .             # Look in the current folder (.) for the Dockerfile to build the image.
    container_name: collector_job  # Give the running container a friendly name.
    
    volumes:             
      - ./data:/app/data # Map the "data" folder on your Windows PC to the "app/data" folder inside Docker.

    # environment:         # This is the "Safe" way to pass your API key.
      - API_KEY=b26f75bdebdc6d8d6f1246b772464fa0  # Injected directly into Python's memory so it's not hard-coded in the script.
      - SUPABASE_DB_URL=postgresql://postgres:WeatherData2026@db.mmbuabemfkxdavsaaccq.supabase.co:5432/postgres
